
@import 'variables';
@import 'grid';


#footer.standard {
  padding: 60px 0 70px !important;
  position: relative;
}




.prefooter {
  padding: 30px 0;
  position: relative;
  overflow: hidden;

  @media (min-width: $small){
    padding: 50px 0;
  }
  @media (min-width: $medium){
    padding: 70px 0;
  }
  @media (min-width: $large){
    padding: 90px 0;
  }

  @media (min-width: $small){
    &:before {
      content: 'Artist';
      font-size: 460px;
      text-align: center;
      font-family: 'Abril Fatface', serif;
      text-transform: uppercase;
      color: $lightest-grey;
      position: absolute;
      line-height: 0.5;
      display: block;
      width: 100%;
      left: -50px;
    }
  }

}



.prefooter-artist {
  @media (min-width: $small){
    width: 85%;
    &:nth-child(2){
      width: 100%;
    }
    &:nth-child(3){
      width: 80%;
    }
  }
}


/* Footer */
.footer-block {
  @media (min-width: $small){
    width: 90%;
    &:nth-child(1){
      width: 100%;
    }
    &:nth-child(2){
      width: 80%;
    }
  }
}


/* Footer Bottom */
.footer-bottom {
  @extend .narrow-container;
}

.footer-socials {
  padding-top: 30px;
  
  @media (min-width: $small){
    text-align: left !important;
  }

  a:first-child {
    margin-left: 0 !important;
  }
}