
@import 'variables';
@import 'grid';


#footer.standard {
  padding: 60px 0 70px !important;
  position: relative;
}




.prefooter {
  background: #eee;
  padding: 50px 0;
  position: relative;
}



.prefooter-artist {
  @media (min-width: $small){
    width: 85%;
    &:nth-child(2){
      width: 100%;
    }
    &:nth-child(3){
      width: 80%;
    }
  }
}


/* Footer */
.footer-block {
  @media (min-width: $small){
    width: 90%;
    &:nth-child(1){
      width: 100%;
    }
    &:nth-child(2){
      width: 80%;
    }
  }
}


/* Footer Bottom */
.footer-bottom {
  @extend .narrow-container;
}

.footer-socials {
  padding-top: 30px;
  
  @media (min-width: $small){
    text-align: left !important;
  }

  a:first-child {
    margin-left: 0 !important;
  }
}