
@import 'variables';

/* Global Styles */
.home #main-wrapper .vc_container:nth-child(2),
.home #main-wrapper .vc_container:nth-child(4) {
  height: 0;
}

html.locked,
html.locked body {
  @media (max-width:$small){
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

body {
  background: $lightest-grey;
}

.vc_row[data-vc-full-width]{
  overflow: visible !important;
}

/* Narrow Container */
.narrow-container {
  max-width: $narrow-container;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  @extend .narrow-container;
  display: flex;
  flex-flow: column;
  
  @media (min-width: $small){
    flex-flow: row;
  }
}



