
@import 'variables';

.home #main-wrapper .vc_container:nth-child(2) {
  height: 0;
}


.vc_row[data-vc-full-width]{
  overflow: visible !important;
}

.narrow-container {
  max-width: $narrow-container;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  @extend .narrow-container;
  display: flex;
  flex-flow: column;
  
  @media (min-width: $small){
    flex-flow: row;
  }
}



