
@import 'variables';

/* Header Home */
#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.home #logo {
  display: none !important;
}

.home #menu-main-menu {
  text-align: center;
}

#logo {
  position: absolute;
  top: -20px;

  img {
    max-width: 160px !important;

    @media (min-width:$medium){
      max-width: 190px !important;
    }
  }

  @media (min-width:$small){
    top: -8px;
  }
}


/* Menu Mobile */
#menu-trigger {
  top: 40% !important;
  z-index: 100;
}

#menu-trigger span,
#menu-trigger span:before,
#menu-trigger span:after {
  background-color: $white !important;
}
#menu-trigger.open span {
  background-color: transparent !important;
}

#header.standard {
  border-bottom: none;
}



/* Flyout */
@media (max-width:$small){
  #main-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  #main-menu.display-menu {
    height: 100vh !important;
    top: -50px;
  }

  #menu-main-menu {
    width: 80%;
    li {
      border: none !important;
      padding-left: 0;
      a {
        padding-left: 0 !important;
        text-align: center !important;
        &:after {
          content: none !important;
        }
      }
      &:nth-child(3) > a:hover {
        cursor: default;
      }
    }
    .sub-menu {
      display: block !important;

      li {
        a {
          font-size: 14px !important;
          padding: 12px 0 !important;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
  #header.standard .header-wrapper #main-menu>ul>li>a {
    text-align: center !important;
    font-size: 18px !important;
  }
}

/* Sub-Menu Desktop */
.sub-menu {
  li {
    border: none !important;
  }
}