
@import 'variables';

// Section Title Rotated
// TODO
.section-title {
  position: absolute;
  top: -40px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;

  // &.left {
  //   left: 5%;
  //   transform-origin: top left;
  //   transform: rotate(-90deg) translate(-100%,-50%);
  //   display: none;
  // }
  // &.right {
  //   right: 5%;
  //   transform-origin: top right;
  //   transform: rotate(-90deg) translate(0%,-50%);
  //   display: none;
  // }
  &.center {
    left: 50%;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%,-50%);
    top: -115px;
  }
  // &.left:after,
  // &.right:after{
  //   content:"";
  //   width: 80px;
  //   height: 1px;
  //   background: $light-grey;
  //   display: inline-block;
  //   margin-left: 20px;
  //   position: relative;
  //   top: -4px;
  // }
  &.center:before {
    content:"";
    width: 80px;
    height: 1px;
    background: $light-grey;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -4px;
    opacity: 0.6;
  }

  // @media(min-width: $large){
  //   &.right,
  //   &.left {
  //     display: inline-block;
  //   }
  // }
}


/* Hero Image */
#hero-image {
  height: 70vh !important;
  min-height: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8)0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%,rgba(0,0,0,0.8) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &.home {
    height: 95vh !important;
    min-height: 95vh !important;
    justify-content: center;
  }
}

#hero-image h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: $white;
  letter-spacing: 5px;
  margin: 0 auto -40px;

  @media (min-width: $extra-small){
    font-size: 80px;
    margin-bottom: -50px;
  }
  @media (min-width: $small){
    font-size: 100px;
    margin-bottom: -60px;
  }
  @media (min-width: $medium){
    font-size: 120px;
  }

  @media (min-width: $large){
    padding-left: 75px;
    font-size: 130px;
    margin-bottom: -70px;
  }
}

#intro {
  background: $dark-grey;
  background: linear-gradient(to top, $white 0, $white 44%, $dark-grey 44% );
  padding: 90px 0 410px;
  margin-bottom: -370px;

  > div > div {
    @extend .narrow-container;
  }

  // two column intro on sub-pages
  &.two-column-text {
    > div:first-child {
      @media (min-width: $small){
        padding-right: 20px;
      }
      @media (min-width: $large){
        padding-left: 75px;
      }
    }
    > div:nth-child(2) {
      @media (min-width: $large){
        padding-right: 75px;
      }
    }
  }
}





// image gallery
.image-gallery {
  margin-bottom: 40px;
}

// background white
.background-white {
  background: white;
}



/* Split Section  */
// .split-section {
//   display: flex;
//   flex-flow: column;

//   @media (min-width: $small){
//     flex-flow: row;
//     align-items: center;
//   }
// }

.split-section {
  display: flex;
  flex-flow: column;

  @media (min-width: $small){
    display: block;
  }
}

.left-wide {
  @media (min-width: $small){
    .vc_col-sm-6:first-child { width: 58%; }
    .vc_col-sm-6:nth-child(2) { width: 42%; }
  }
  @media (min-width: $medium){
    .vc_col-sm-6:first-child { width: 58%; }
    .vc_col-sm-6:nth-child(2) { width: 42%; }
  }
}
.right-wide {
  .vc_col-sm-6:first-child { order: 1; }
  @media (min-width: $small){
    .vc_col-sm-6:first-child { width: 42%; order: 0; }
    .vc_col-sm-6:nth-child(2) { width: 58%; }
  }
  @media (min-width: $medium){
    .vc_col-sm-6:first-child { width: 42%; }
    .vc_col-sm-6:nth-child(2) { width: 58%; }
  }
}



.large-links {
  font-size: 60px;
  font-family: $headline-font;
  text-transform: uppercase;
  line-height: 1.1;
  display: inline-block;
  text-decoration: none;

  @media (min-width: $extra-small){
    font-size: 60px;
  }
  @media (min-width: $small){
    font-size: 70px;
  }
  @media (min-width: $medium){
    font-size: 90px;
  }
  @media (min-width: $large){
    font-size: 95px;
  }
}

#artists-links a {
  @extend .large-links;
  border-bottom: 2px solid $dark-grey;

  &:hover {
    border-color: $white;
    color: $dark-grey;
  }
}

#intro-link p {
  @media (min-width: $small){
    text-align: right !important;
    margin-top: 65px;
  }
  @media (min-width: $medium){
    margin-top: 30px;
  }
  @media (min-width: $large){
    margin-top: 20px;
  }
}

#intro-link a {
  @extend .large-links;
  color: $white;
  border-bottom: 2px solid $white;

  &:hover {
    border-color: $dark-grey;
  }
}

#artists-links {
  z-index: 1;
  @media (min-width: $small){
    margin-top: 60px;
  }
  @media (min-width: $medium){
    margin-top: 80px;
  }
  @media (min-width: $large){
    margin-top: 120px;
    padding-left: 78px !important;
  }
}

#artists-image {
  margin-top: -25px;

  @media (min-width: $small){
    margin-top: -30px
  }
  @media (min-width: $medium){
    margin-top: 0px
  }
}

// #studio-link,
// .studio-link {
//   @extend #artist-links;
//   padding-top: 0 !important;
//   margin-bottom: 60px;
//   a {
//     color: $white !important;
//   }
// }

// carousel
// .kraft-carousel .owl-nav {
//   bottom: 0;
//   top: auto;
//   transform: none;
//   width: auto;
//   right: 0;

//   .owl-prev,
//   .owl-next {
//     background: $white;
//     color: $dark-grey;
//   }
// }



// HACKS
// .page-id-1193 {
//   #main-wrapper .vc_container:nth-child(2){
//     height: 0;
//   }
//   .section-title.center {
//     top: -110px;
//   }
// }


