
@import 'variables';

// Section Title Rotated
.section-title {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;

  &.left {
    color: $light-grey;
    left: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%,-50%);
    top: -10px;
    display: none;

    &.home {
      top: 30px;
    }
  }

  &.right {
    color: $light-grey;
    right: 0;
    transform-origin: top right;
    transform: rotate(-90deg) translate(0%,-50%);
    top: 32px;
    display: none;
  }
  &.center {
    left: 50%;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%,-50%);
    top: -115px;
    color: $white;
    top: -110px;
  }
  &.left:after,
  &.right:after{
    content:"";
    width: 80px;
    height: 1px;
    background: $light-grey;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: -4px;
    opacity: 0.6;
  }
  &.center:before {
    content:"";
    width: 80px;
    height: 1px;
    background: $light-grey;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -4px;
    opacity: 0.6;
  }

  @media(min-width: $large){
    &.right,
    &.left {
      display: inline-block;
    }
  }
}



/* Hero Image - Normal, Home, Contact */
#hero-image {
  height: 70vh !important;
  min-height: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,0.8)0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%,rgba(0,0,0,0.8) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &.home {
    height: 92vh !important;
    min-height: 92vh !important;
    justify-content: center;

    @media(min-width: $medium){
      height: 95vh !important;
      min-height: 95vh !important;
    }
  }

  &.contact {
    max-height: 800px !important;
    flex-direction: row;
    overflow: hidden !important;

    &:before {
      z-index: 2;
    }
  }
}




/* Intro – Normal & Contact */
#intro {
  background: linear-gradient(to top, $lightest-grey 0, $lightest-grey 44%, $dark-grey 44% );
  margin-bottom: -370px;
  padding: 60px 0 380px;

  @media (min-width: $small){
    padding: 90px 0 410px;
  }

  > div > div {
    @extend .narrow-container;
  }

  // two column intro on sub-pages
  &.two-column-text {
    > div:first-child {
      @media (min-width: $small){
        padding-right: 20px;
      }
      @media (min-width: $large){
        padding-left: 75px;
      }
    }
    > div:nth-child(2) {
      @media (min-width: $large){
        padding-right: 75px;
      }
    }
  }
}

#intro-contact {
  background: $dark-grey;
  padding: 0px 0 50px;
  margin-bottom: -30px;

  > div > div {
    @extend .narrow-container;
  }
}


/* 50% Sections Homepage */
.split-section {
  display: flex;
  flex-flow: column;

  @media (min-width: $small){
    display: block;
  }
}

.left-wide {
  @media (min-width: $small){
    .vc_col-sm-6:first-child { width: 58%; }
    .vc_col-sm-6:nth-child(2) { width: 42%; }
  }
  @media (min-width: $medium){
    .vc_col-sm-6:first-child { width: 58%; }
    .vc_col-sm-6:nth-child(2) { width: 42%; }
  }
}
.right-wide {
  .vc_col-sm-6:first-child { order: 1; }
  @media (min-width: $small){
    .vc_col-sm-6:first-child { width: 42%; order: 0; }
    .vc_col-sm-6:nth-child(2) { width: 58%; }
  }
  @media (min-width: $medium){
    .vc_col-sm-6:first-child { width: 42%; }
    .vc_col-sm-6:nth-child(2) { width: 58%; }
  }
}



#intro-link p {
  @media (min-width: $small){
    text-align: right !important;
    margin-top: 65px;
  }
  @media (min-width: $medium){
    margin-top: 30px;
  }
  @media (min-width: $large){
    margin-top: 20px;
  }
}

#artists-links {
  z-index: 1;
  margin-top: 40px;
  z-index: 2;
  @media (min-width: $small){
    margin-top: 40px;
  }
  @media (min-width: $medium){
    margin-top: 60px;
  }
  @media (min-width: $large){
    margin-top: 100px;
    padding-left: 78px !important;
  }
}

#artists-image {
  margin-top: -25px;

  @media (min-width: $small){
    margin-top: -50px
  }
  @media (min-width: $medium){
    margin-top: -50px
  }
}


// image gallery
.image-gallery {
  margin-bottom: 40px;
}

// background white
.background-white {
  background: $lightest-grey;
}

// carousel
.kraft-carousel .owl-nav {
  bottom: 0;
  top: auto;
  transform: none;
  width: auto;
  right: 0;

  .owl-prev,
  .owl-next {
    background: $lightest-grey;
    color: $dark-grey;
  }
}

