
@import 'variables';

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

#footer h4 {
  color: $white;
  font-size: 24px;

  @media (min-width: $medium){
    font-size: 32px;
  }
}

#footer a {
  color: $white;
}

#prefooter h4 {
  font-size: 38px;

  @media (min-width: $small){
    font-size: 45px;
  }

  @media (min-width: $medium){
    font-size: 60px;
  }
}




// Home
#welcome-section h1,
#welcome-section p {
  color: $white;
}

#welcome-section h1 {
  @media(min-width: $small){
    font-size: 36px;
  }
  @media(min-width: $medium){
    font-size: 42px;
  }
}