
@import 'variables';



h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: normal;
  color: $black;
}

a {
  text-decoration: underline;
}

p {
  color: $light-grey;
}

.background-white p {
  color: $dark-grey;
}

#footer h4 {
  color: $white;
  font-size: 22px;

  @media (min-width: $medium){
    font-size: 28px;
  }
}

#footer a {
  color: $white;
}

#footer p {
  line-height: 1.6;
}



/* Page Title */
.title-font {
  text-transform: uppercase;
  font-size: 60px;
  color: $white;
  letter-spacing: 5px;
  margin: 0 auto -30px;
  line-height: 1;

  @media (min-width: $extra-small){
    font-size: 80px;
    margin-bottom: -40px;
  }
  @media (min-width: $small){
    font-size: 100px;
    margin-bottom: -50px;
  }
  @media (min-width: $medium){
    font-size: 120px;
  }

  @media (min-width: $large){
    padding-left: 75px;
    font-size: 130px;
    margin-bottom: -60px;
  }
}

#hero-image h1 {
  @extend .title-font;
}

#intro-contact h1 {
  @extend .title-font;
  padding-left: 0;
  top: -32px;
  padding-bottom: 30px;
  z-index: 3;
  position: relative;
  @media (min-width: $extra-small){
    top: -40px;
  }
  @media (min-width: $small){
    top: -54px;
  }
  @media (min-width: $medium){
    top: -84px;
    padding-bottom: 0;
  }
}


/* Large Links */
.large-links {
  font-family: $headline-font;
  text-transform: uppercase;
  line-height: 0.95;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  // white-space: nowrap;
  font-size: 60px;
  @media (min-width: $small){
    font-size: 70px;
  }
  @media (min-width: $medium){
    font-size: 90px;
  }
  @media (min-width: $large){
    font-size: 100px;
  }
}

#artists-links a,
#contact-text a  {
  @extend .large-links;
  border-bottom: 2px solid $dark-grey;

  &:hover {
    border-color: $lightest-grey;
    color: $dark-grey;
  }
}

#intro-link a {
  @extend .large-links;
  color: $white;
  border-bottom: 2px solid $white;
  margin-bottom: 0;

  &:hover {
    border-color: $dark-grey;
  }
}

#contact-text a {
  font-size: 46px;

  @media (min-width: $small){
    font-size: 54px;
  }
  @media (min-width: $medium){
    font-size: 62px;
  }
  @media (min-width: $large){
    font-size: 70px;
  }
}


#artists-links a {
  &._1-2 {
    font-size: 30px;
    @media (min-width: $small){
      font-size: 35px;
    }
    @media (min-width: $medium){
      font-size: 45px;
    }
    @media (min-width: $large){
      font-size: 50px;
    }
  }
  &._2-3 {
    font-size: 40px;
    @media (min-width: $small){
      font-size: 47px;
    }
    @media (min-width: $medium){
      font-size: 60px;
    }
    @media (min-width: $large){
      font-size: 67px;
    }
  }
  &._3-4 {
    font-size: 45px;
    @media (min-width: $small){
      font-size: 52px;
    }
    @media (min-width: $medium){
      font-size: 67px;
    }
    @media (min-width: $large){
      font-size: 75px;
    }
  }
}


/* Buttons Artists */
#intro .vc_btn3-container {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $extra-small){
    display: inline-block;
    margin-right: 4px;
  }
}

#intro button {
  border-color: $light-grey;
  color: $light-grey;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 30px;

  &:hover {
    border-color: $white;
    color: $white;
    background: transparent;
  }
}