
@import 'variables';

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

#footer h4 {
  color: $white;
  font-size: 24px;

  @media (min-width: $medium){
    font-size: 32px;
  }
}

#footer a {
  color: $white;
}

#prefooter h4 {
  font-size: 38px;

  @media (min-width: $small){
    font-size: 45px;
  }

  @media (min-width: $medium){
    font-size: 60px;
  }
}

.section-title {
  display: none;
  color: $light-grey;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  position: absolute;
  top: -40px;

  &.left {
    left: 30px;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%,-50%);
    
  }
  &.right {
    right: 30px;
    transform-origin: top right;
    transform: rotate(-90deg) translate(0%,-50%);
  }

  &:after{
    content:"";
    width: 80px;
    height: 1px;
    background: $light-grey;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: -4px;
  }

  @media(min-width: $small){
    display: inline-block;
  }
}