
@import 'variables';

/* Button */
// .cta-home button {
//   border-color: $white !important;
//   color: $white !important;
//   background: transparent !important;
// }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
  font-weight: normal;
  color: $black;
}

a {
  text-decoration: underline;
}

p {
  color: $light-grey;
}

.background-white p {
  color: $dark-grey;
}

#footer h4 {
  color: $white;
  font-size: 22px;

  @media (min-width: $medium){
    font-size: 28px;
  }
}

#footer a {
  color: $white;
}

#footer p {
  line-height: 1.6;
}

// #description {
//   color: $white;

//   h1 {
//     color: $white;

//     @media(min-width: $small){
//       font-size: 36px;
//     }
//     @media(min-width: $medium){
//       font-size: 42px;
//     }   
//   }
// }

// #prefooter h4 {
//   font-size: 38px;

//   @media (min-width: $small){
//     font-size: 45px;
//   }

//   @media (min-width: $medium){
//     font-size: 60px;
//   }
// }




// Home --> delete these styles later
// #welcome h1,
// #welcome h2,
// #welcome p {
//   color: $white;
// }

// #welcome h1 {
//   @media(min-width: $small){
//     font-size: 36px;
//   }
//   @media(min-width: $medium){
//     font-size: 42px;
//   }
// }

// #welcome h2 {
//   @media(min-width: $small){
//     font-size: 30px;
//   }
//   @media(min-width: $medium){
//     font-size: 36px;
//   }
// }

// #welcome p {
//   padding-top: 10px;
// }