/* Breakpoints */
$small: 768px;
$medium: 992px;
$large: 1200px;

/* Container Width */
//$narrow-container: 1040px; // 1010px = 10 columns
$narrow-container: 1010px;

/* Colors */
$white: #fff;
$lightest-grey: #f1f4f5;
$light-grey: #8E8E8E;
$dark-grey: #1C191C;

$headline-font: 'Abril Fatface', serif; 