/* Breakpoints */
$extra-small: 480px;
$small: 768px;
$medium: 992px;
$large: 1200px;

/* Container Width */
$narrow-container: 1010px;

/* Colors */
$white: #fff;
$lightest-grey: #f1f4f5;
$light-grey: #8E8E8E;
//$dark-grey: #1C191C;
$dark-grey: #111;
$black: #000;

$headline-font: 'Abril Fatface', serif; 