/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/