/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
/* Breakpoints */
/* Container Width */
/* Colors */
/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

#footer h4 {
  color: #fff;
  font-size: 24px;
}
@media (min-width: 992px) {
  #footer h4 {
    font-size: 32px;
  }
}

#footer a {
  color: #fff;
}

#prefooter h4 {
  font-size: 38px;
}
@media (min-width: 768px) {
  #prefooter h4 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  #prefooter h4 {
    font-size: 60px;
  }
}

.section-title {
  display: none;
  color: #8E8E8E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  position: absolute;
  top: -40px;
  z-index: 1;
}
.section-title.left {
  left: 30px;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
}
.section-title.right {
  right: 30px;
  transform-origin: top right;
  transform: rotate(-90deg) translate(0%, -50%);
}
.section-title:after {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -4px;
}
@media (min-width: 768px) {
  .section-title {
    display: inline-block;
  }
}

#welcome-section h1,
#welcome-section p {
  color: #fff;
}

@media (min-width: 768px) {
  #welcome-section h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #welcome-section h1 {
    font-size: 42px;
  }
}

.narrow-container, .flex-container, #welcome-section > div > div, .footer-bottom {
  max-width: 1010px;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row;
  }
}

/* Welcome Section */
#welcome-section {
  background: #1C191C;
  padding: 50px 0 140px;
  margin-bottom: -80px;
}

.vc_container {
  position: relative;
}

@media (min-width: 768px) {
  #welcome-teaser-section .vc_col-sm-6:first-child {
    width: 100%;
  }
  #welcome-teaser-section .vc_col-sm-6:nth-child(2) {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #welcome-teaser-section .vc_col-sm-6:first-child {
    width: 60%;
  }
  #welcome-teaser-section .vc_col-sm-6:nth-child(2) {
    width: 40%;
  }
}

.welcome-teaser {
  padding-top: 30px;
}
@media (min-width: 992px) {
  .welcome-teaser {
    padding-top: 130px;
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .welcome-teaser {
    padding-top: 180px;
    padding-left: 50px;
  }
}

.kraft-carousel .owl-nav {
  bottom: 0;
  top: auto;
  transform: none;
  width: auto;
  right: 0;
}
.kraft-carousel .owl-nav .owl-prev,
.kraft-carousel .owl-nav .owl-next {
  background: #fff;
  color: #1C191C;
}

#footer.standard {
  padding: 60px 0 70px !important;
  position: relative;
}

.prefooter {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .prefooter {
    padding: 50px 0;
  }
}
@media (min-width: 992px) {
  .prefooter {
    padding: 70px 0;
  }
}
@media (min-width: 1200px) {
  .prefooter {
    padding: 90px 0;
  }
}
@media (min-width: 768px) {
  .prefooter:before {
    content: 'Artists';
    font-size: 460px;
    text-align: center;
    font-family: 'Abril Fatface', serif;
    text-transform: uppercase;
    color: #f1f4f5;
    position: absolute;
    line-height: 0.5;
    display: block;
    width: 100%;
    left: -50px;
  }
}

@media (min-width: 768px) {
  .prefooter-artist {
    width: 85%;
  }
  .prefooter-artist:nth-child(2) {
    width: 100%;
  }
  .prefooter-artist:nth-child(3) {
    width: 80%;
  }
}

/* Footer */
@media (min-width: 768px) {
  .footer-block {
    width: 90%;
  }
  .footer-block:nth-child(1) {
    width: 100%;
  }
  .footer-block:nth-child(2) {
    width: 80%;
  }
}

/* Footer Bottom */
.footer-socials {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials {
    text-align: left !important;
  }
}
.footer-socials a:first-child {
  margin-left: 0 !important;
}

.home #header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: linear-gradient(to top, transparent, black);
}

.home #logo {
  display: none !important;
}

.home #menu-main-menu {
  text-align: center;
}
