@charset "UTF-8";
/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
/* Breakpoints */
/* Container Width */
/* Colors */
h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
  color: #000;
}

a {
  text-decoration: underline;
}

p {
  color: #8E8E8E;
}

.background-white p {
  color: #111;
}

#footer h4 {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 992px) {
  #footer h4 {
    font-size: 28px;
  }
}

#footer a {
  color: #fff;
}

#footer p {
  line-height: 1.6;
}

/* Page Title */
.title-font, #hero-image h1, #intro-contact h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: #fff;
  letter-spacing: 5px;
  margin: 0 auto -30px;
  line-height: 1;
}
@media (min-width: 480px) {
  .title-font, #hero-image h1, #intro-contact h1 {
    font-size: 80px;
    margin-bottom: -40px;
  }
}
@media (min-width: 768px) {
  .title-font, #hero-image h1, #intro-contact h1 {
    font-size: 100px;
    margin-bottom: -50px;
  }
}
@media (min-width: 992px) {
  .title-font, #hero-image h1, #intro-contact h1 {
    font-size: 120px;
  }
}
@media (min-width: 1200px) {
  .title-font, #hero-image h1, #intro-contact h1 {
    padding-left: 75px;
    font-size: 130px;
    margin-bottom: -60px;
  }
}

#intro-contact h1 {
  padding-left: 0;
  top: -32px;
  padding-bottom: 30px;
  z-index: 3;
  position: relative;
}
@media (min-width: 480px) {
  #intro-contact h1 {
    top: -40px;
  }
}
@media (min-width: 768px) {
  #intro-contact h1 {
    top: -54px;
  }
}
@media (min-width: 992px) {
  #intro-contact h1 {
    top: -84px;
    padding-bottom: 0;
  }
}

/* Large Links */
.large-links, #artists-links a,
#contact-text a, #intro-link a {
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
  line-height: 0.95;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 60px;
}
@media (min-width: 768px) {
  .large-links, #artists-links a,
  #contact-text a, #intro-link a {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  .large-links, #artists-links a,
  #contact-text a, #intro-link a {
    font-size: 90px;
  }
}
@media (min-width: 1200px) {
  .large-links, #artists-links a,
  #contact-text a, #intro-link a {
    font-size: 100px;
  }
}

#artists-links a,
#contact-text a {
  border-bottom: 2px solid #111;
}
#artists-links a:hover,
#contact-text a:hover {
  border-color: #f1f4f5;
  color: #111;
}

#intro-link a {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-bottom: 0;
}
#intro-link a:hover {
  border-color: #111;
}

#contact-text a {
  font-size: 46px;
}
@media (min-width: 768px) {
  #contact-text a {
    font-size: 54px;
  }
}
@media (min-width: 992px) {
  #contact-text a {
    font-size: 62px;
  }
}
@media (min-width: 1200px) {
  #contact-text a {
    font-size: 70px;
  }
}

#artists-links a._1-2 {
  font-size: 30px;
}
@media (min-width: 768px) {
  #artists-links a._1-2 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  #artists-links a._1-2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  #artists-links a._1-2 {
    font-size: 50px;
  }
}
#artists-links a._2-3 {
  font-size: 40px;
}
@media (min-width: 768px) {
  #artists-links a._2-3 {
    font-size: 47px;
  }
}
@media (min-width: 992px) {
  #artists-links a._2-3 {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  #artists-links a._2-3 {
    font-size: 67px;
  }
}
#artists-links a._3-4 {
  font-size: 45px;
}
@media (min-width: 768px) {
  #artists-links a._3-4 {
    font-size: 52px;
  }
}
@media (min-width: 992px) {
  #artists-links a._3-4 {
    font-size: 67px;
  }
}
@media (min-width: 1200px) {
  #artists-links a._3-4 {
    font-size: 75px;
  }
}

/* Global Styles */
.home #main-wrapper .vc_container:nth-child(2),
.home #main-wrapper .vc_container:nth-child(4) {
  height: 0;
}

@media (max-width: 768px) {
  html.locked,
  html.locked body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

body {
  background: #f1f4f5;
}

div#main-wrapper.vc_container {
  padding-left: 0;
  padding-right: 0;
}

.vc_row[data-vc-full-width] {
  overflow: visible !important;
}

/* Narrow Container */
.narrow-container, .flex-container, #intro > div > div, #intro-contact > div > div, .footer-bottom {
  max-width: 1010px;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row;
  }
}

.section-title {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;
}
.section-title.left {
  color: #8E8E8E;
  left: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
  top: -10px;
  display: none;
}
.section-title.left.home {
  top: 30px;
}
.section-title.right {
  color: #8E8E8E;
  right: 0;
  transform-origin: top right;
  transform: rotate(-90deg) translate(0%, -50%);
  top: 32px;
  display: none;
}
.section-title.center {
  left: 50%;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
  top: -115px;
  color: #fff;
  top: -110px;
}
.section-title.left:after, .section-title.right:after {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -4px;
  opacity: 0.6;
}
.section-title.center:before {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -4px;
  opacity: 0.6;
}
@media (min-width: 1200px) {
  .section-title.right, .section-title.left {
    display: inline-block;
  }
}

/* Hero Image - Normal, Home, Contact */
#hero-image {
  height: 70vh !important;
  min-height: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#hero-image:before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.8) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero-image.home {
  height: 92vh !important;
  min-height: 92vh !important;
  justify-content: center;
}
@media (min-width: 992px) {
  #hero-image.home {
    height: 95vh !important;
    min-height: 95vh !important;
  }
}
#hero-image.contact {
  max-height: 800px !important;
  flex-direction: row;
  overflow: hidden !important;
}
#hero-image.contact:before {
  z-index: 2;
}

/* Intro – Normal & Contact */
#intro {
  background: linear-gradient(to top, #f1f4f5 0, #f1f4f5 44%, #111 44%);
  padding: 90px 0 410px;
  margin-bottom: -370px;
}
@media (min-width: 768px) {
  #intro.two-column-text > div:first-child {
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  #intro.two-column-text > div:first-child {
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  #intro.two-column-text > div:nth-child(2) {
    padding-right: 75px;
  }
}

#intro-contact {
  background: #111;
  padding: 0px 0 50px;
  margin-bottom: -30px;
}

/* 50% Sections Homepage */
.split-section {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .split-section {
    display: block;
  }
}

@media (min-width: 768px) {
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}
@media (min-width: 992px) {
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}

.right-wide .vc_col-sm-6:first-child {
  order: 1;
}
@media (min-width: 768px) {
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
    order: 0;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}
@media (min-width: 992px) {
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}

@media (min-width: 768px) {
  #intro-link p {
    text-align: right !important;
    margin-top: 65px;
  }
}
@media (min-width: 992px) {
  #intro-link p {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #intro-link p {
    margin-top: 20px;
  }
}

#artists-links {
  z-index: 1;
  margin-top: 40px;
  z-index: 2;
}
@media (min-width: 768px) {
  #artists-links {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  #artists-links {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  #artists-links {
    margin-top: 100px;
    padding-left: 78px !important;
  }
}

#artists-image {
  margin-top: -25px;
}
@media (min-width: 768px) {
  #artists-image {
    margin-top: -50px;
  }
}
@media (min-width: 992px) {
  #artists-image {
    margin-top: -50px;
  }
}

.image-gallery {
  margin-bottom: 40px;
}

.background-white {
  background: #f1f4f5;
}

.kraft-carousel .owl-nav {
  bottom: 0;
  top: auto;
  transform: none;
  width: auto;
  right: 0;
}
.kraft-carousel .owl-nav .owl-prev,
.kraft-carousel .owl-nav .owl-next {
  background: #f1f4f5;
  color: #111;
}

/* Header Home */
#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.home #logo {
  display: none !important;
}

.home #menu-main-menu {
  text-align: center;
}

#logo {
  position: absolute;
  top: -20px;
}
#logo img {
  max-width: 160px !important;
}
@media (min-width: 992px) {
  #logo img {
    max-width: 190px !important;
  }
}
@media (min-width: 768px) {
  #logo {
    top: -8px;
  }
}

/* Menu Mobile */
#menu-trigger {
  top: 40% !important;
  z-index: 100;
}

#menu-trigger span,
#menu-trigger span:before,
#menu-trigger span:after {
  background-color: #fff !important;
}

#menu-trigger.open span {
  background-color: transparent !important;
}

#header.standard {
  border-bottom: none;
}

/* Flyout */
@media (max-width: 768px) {
  #main-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #main-menu.display-menu {
    height: 100vh !important;
    top: -50px;
  }

  #menu-main-menu {
    width: 80%;
  }
  #menu-main-menu li {
    border: none !important;
    padding-left: 0;
  }
  #menu-main-menu li a {
    padding-left: 0 !important;
    text-align: center !important;
  }
  #menu-main-menu li a:after {
    content: none !important;
  }
  #menu-main-menu li:nth-child(3) > a:hover {
    cursor: default;
  }
  #menu-main-menu .sub-menu {
    display: block !important;
  }
  #menu-main-menu .sub-menu li a {
    font-size: 14px !important;
    padding: 12px 0 !important;
  }
  #menu-main-menu .sub-menu li a:hover {
    background-color: transparent !important;
  }

  #header.standard .header-wrapper #main-menu > ul > li > a {
    text-align: center !important;
    font-size: 18px !important;
  }
}
/* Sub-Menu Desktop */
.sub-menu li {
  border: none !important;
}

/* Footer */
#footer.standard {
  background-color: #111;
  position: relative;
  margin-top: 40px !important;
}
#footer.standard:not(.centered) {
  padding: 60px 15px 70px !important;
}
@media (min-width: 768px) {
  #footer.standard:not(.centered) {
    padding: 60px 25px 70px !important;
  }
}

.footer-block {
  width: 100%;
  margin-bottom: 30px;
}
.footer-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer-block {
    border-right: thin solid rgba(255, 255, 255, 0.1);
    padding-right: 20px;
  }
  .footer-block:nth-child(2), .footer-block:nth-child(3) {
    padding-left: 30px;
  }
  .footer-block:last-child {
    border-right: none;
  }
}

/* Footer Bottom */
.footer-socials {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials {
    text-align: left !important;
  }
}
.footer-socials a:first-child {
  margin-left: 0 !important;
}
