/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
/* Breakpoints */
/* Container Width */
/* Colors */
/* Button */
/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
  color: #000;
}

a {
  text-decoration: underline;
}

p {
  color: #8E8E8E;
}

.background-white p {
  color: #111;
}

#footer h4 {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 992px) {
  #footer h4 {
    font-size: 28px;
  }
}

#footer a {
  color: #fff;
}

#footer p {
  line-height: 1.6;
}

.home #main-wrapper .vc_container:nth-child(2) {
  height: 0;
}

.vc_row[data-vc-full-width] {
  overflow: visible !important;
}

.narrow-container, .flex-container, #intro > div > div, .footer-bottom {
  max-width: 1010px;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row;
  }
}

.section-title {
  position: absolute;
  top: -40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;
}
.section-title.center {
  left: 50%;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
  top: -115px;
}
.section-title.center:before {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -4px;
  opacity: 0.6;
}

/* Hero Image */
#hero-image {
  height: 70vh !important;
  min-height: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#hero-image:before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.8) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero-image.home {
  height: 95vh !important;
  min-height: 95vh !important;
  justify-content: center;
}

#hero-image h1 {
  text-transform: uppercase;
  font-size: 60px;
  color: #fff;
  letter-spacing: 5px;
  margin: 0 auto -40px;
}
@media (min-width: 480px) {
  #hero-image h1 {
    font-size: 80px;
    margin-bottom: -50px;
  }
}
@media (min-width: 768px) {
  #hero-image h1 {
    font-size: 100px;
    margin-bottom: -60px;
  }
}
@media (min-width: 992px) {
  #hero-image h1 {
    font-size: 120px;
  }
}
@media (min-width: 1200px) {
  #hero-image h1 {
    padding-left: 75px;
    font-size: 130px;
    margin-bottom: -70px;
  }
}

#intro {
  background: #111;
  background: linear-gradient(to top, #fff 0, #fff 44%, #111 44%);
  padding: 90px 0 410px;
  margin-bottom: -370px;
}
@media (min-width: 768px) {
  #intro.two-column-text > div:first-child {
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  #intro.two-column-text > div:first-child {
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  #intro.two-column-text > div:nth-child(2) {
    padding-right: 75px;
  }
}

.image-gallery {
  margin-bottom: 40px;
}

.background-white {
  background: white;
}

/* Split Section  */
.split-section {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .split-section {
    display: block;
  }
}

@media (min-width: 768px) {
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}
@media (min-width: 992px) {
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}

.right-wide .vc_col-sm-6:first-child {
  order: 1;
}
@media (min-width: 768px) {
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
    order: 0;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}
@media (min-width: 992px) {
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}

.large-links, #artists-links a, #intro-link a {
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
  line-height: 1.1;
  display: inline-block;
  text-decoration: none;
}
@media (min-width: 480px) {
  .large-links, #artists-links a, #intro-link a {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .large-links, #artists-links a, #intro-link a {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  .large-links, #artists-links a, #intro-link a {
    font-size: 90px;
  }
}
@media (min-width: 1200px) {
  .large-links, #artists-links a, #intro-link a {
    font-size: 95px;
  }
}

#artists-links a {
  border-bottom: 2px solid #111;
}
#artists-links a:hover {
  border-color: #fff;
  color: #111;
}

@media (min-width: 768px) {
  #intro-link p {
    text-align: right !important;
    margin-top: 65px;
  }
}
@media (min-width: 992px) {
  #intro-link p {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  #intro-link p {
    margin-top: 20px;
  }
}

#intro-link a {
  color: #fff;
  border-bottom: 2px solid #fff;
}
#intro-link a:hover {
  border-color: #111;
}

#artists-links {
  z-index: 1;
}
@media (min-width: 768px) {
  #artists-links {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  #artists-links {
    margin-top: 80px;
  }
}
@media (min-width: 1200px) {
  #artists-links {
    margin-top: 120px;
    padding-left: 78px !important;
  }
}

#artists-image {
  margin-top: -25px;
}
@media (min-width: 768px) {
  #artists-image {
    margin-top: -30px;
  }
}
@media (min-width: 992px) {
  #artists-image {
    margin-top: 0px;
  }
}

/* Header Home */
#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.home #logo {
  display: none !important;
}

.home #menu-main-menu {
  text-align: center;
}

#logo {
  position: absolute;
  top: -30px;
}
#logo img {
  max-width: 160px !important;
}
@media (min-width: 992px) {
  #logo img {
    max-width: 190px !important;
  }
}
@media (min-width: 768px) {
  #logo {
    top: -10px;
  }
}

/* Menu Mobile */
#menu-trigger {
  top: 40% !important;
  z-index: 100;
}

#menu-trigger span,
#menu-trigger span:before,
#menu-trigger span:after {
  background-color: #fff !important;
}

#menu-trigger.open span {
  background-color: transparent !important;
}

#header.standard {
  border-bottom: none;
}

/* Flyout */
@media (max-width: 768px) {
  #main-menu.display-menu {
    height: 100vh !important;
    top: -60px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #menu-main-menu {
    width: 80%;
  }
  #menu-main-menu li {
    border: none !important;
  }

  #header.standard .header-wrapper #main-menu > ul > li > a {
    text-align: center !important;
    font-size: 20px !important;
  }
}
/* Footer */
#footer.standard {
  background-color: #111;
  padding: 60px 0 70px !important;
  position: relative;
  margin-top: 40px !important;
}

.footer-block {
  width: 100%;
  margin-bottom: 30px;
}
.footer-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer-block {
    border-right: thin solid rgba(255, 255, 255, 0.1);
  }
  .footer-block:nth-child(2), .footer-block:nth-child(3) {
    padding-left: 30px;
  }
  .footer-block:last-child {
    border-right: none;
  }
}

/* Footer Bottom */
.footer-socials {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials {
    text-align: left !important;
  }
}
.footer-socials a:first-child {
  margin-left: 0 !important;
}
