/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
/* Breakpoints */
/* Container Width */
/* Colors */
/* Button */
.cta-home button {
  border-color: #fff !important;
  color: #fff !important;
  background: transparent !important;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

#footer h4 {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 992px) {
  #footer h4 {
    font-size: 28px;
  }
}

#footer a {
  color: #fff;
}

#description, #description-alternative {
  color: #fff;
}
#description h1, #description-alternative h1 {
  color: #fff;
}
@media (min-width: 768px) {
  #description h1, #description-alternative h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #description h1, #description-alternative h1 {
    font-size: 42px;
  }
}

.vc_row[data-vc-full-width] {
  overflow: visible !important;
}

.narrow-container, .flex-container, #description > div > div, #description-alternative > div > div, .footer-bottom {
  max-width: 1010px;
  margin: 0 auto;
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) {
  .flex-container {
    flex-flow: row;
  }
}

.section-title {
  position: absolute;
  top: -40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;
}
.section-title.left {
  left: 5%;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
  display: none;
}
.section-title.right {
  right: 5%;
  transform-origin: top right;
  transform: rotate(-90deg) translate(0%, -50%);
  display: none;
}
.section-title.center {
  left: 50%;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, -50%);
  top: -182px;
}
.section-title.left:after, .section-title.right:after {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -4px;
}
.section-title.center:before {
  content: "";
  width: 80px;
  height: 1px;
  background: #8E8E8E;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: -4px;
}

/* Hero Image */
#hero-image {
  height: 70vh !important;
  min-height: 460px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#hero-image:before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.8) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero-image.home {
  height: 95vh !important;
  min-height: 95vh !important;
  justify-content: center;
}

#hero-image h1 {
  text-transform: uppercase;
  font-size: 110px;
  color: #fff;
  letter-spacing: 5px;
  margin: 0 auto -60px;
}
@media (min-width: 1200px) {
  #hero-image h1 {
    padding-left: 75px;
  }
}

#description, #description-alternative {
  background: #111;
  background: linear-gradient(to top, #fff 0, #fff 44%, #111 44%);
  padding: 70px 0 420px;
  margin-bottom: -380px;
}
@media (min-width: 768px) {
  #description.two-column-text > div:first-child, .two-column-text#description-alternative > div:first-child {
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  #description.two-column-text > div:first-child, .two-column-text#description-alternative > div:first-child {
    padding-left: 75px;
  }
}
@media (min-width: 1200px) {
  #description.two-column-text > div:nth-child(2), .two-column-text#description-alternative > div:nth-child(2) {
    padding-right: 75px;
  }
}

#description-alternative {
  background: white;
}

.image-gallery {
  margin-bottom: 40px;
}

.background-white {
  background: white;
}

/* Split Section  */
.split-section {
  display: flex;
  flex-flow: column;
}

@media (min-width: 768px) {
  .left-wide {
    display: block;
  }
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}
@media (min-width: 992px) {
  .left-wide .vc_col-sm-6:first-child {
    width: 58%;
  }
  .left-wide .vc_col-sm-6:nth-child(2) {
    width: 42%;
  }
}

.right-wide .vc_col-sm-6:first-child {
  order: 1;
}
@media (min-width: 768px) {
  .right-wide {
    display: block;
  }
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
    order: 0;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}
@media (min-width: 992px) {
  .right-wide .vc_col-sm-6:first-child {
    width: 42%;
  }
  .right-wide .vc_col-sm-6:nth-child(2) {
    width: 58%;
  }
}

#home-studio-section,
#home-artist-section {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  #home-studio-section,
  #home-artist-section {
    margin-bottom: 80px;
  }
}

#home-studio-intro {
  padding-top: 30px;
}
@media (min-width: 768px) {
  #home-studio-intro {
    padding-top: 130px;
  }
}
@media (min-width: 992px) {
  #home-studio-intro {
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  #home-studio-intro {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 60px;
  }
}

#artist-links, #studio-link,
.studio-link {
  z-index: 1;
}
@media (min-width: 768px) {
  #artist-links, #studio-link,
  .studio-link {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  #artist-links, #studio-link,
  .studio-link {
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  #artist-links, #studio-link,
  .studio-link {
    padding-top: 50px;
    padding-left: 78px !important;
  }
}

#artist-links a, #studio-link a,
.studio-link a {
  font-size: 60px;
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
  line-height: 1.1;
  display: inline-block;
}
@media (min-width: 480px) {
  #artist-links a, #studio-link a,
  .studio-link a {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  #artist-links a, #studio-link a,
  .studio-link a {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  #artist-links a, #studio-link a,
  .studio-link a {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  #artist-links a, #studio-link a,
  .studio-link a {
    font-size: 120px;
  }
}

#studio-link,
.studio-link {
  padding-top: 0 !important;
  margin-bottom: 60px;
}
#studio-link a,
.studio-link a {
  color: #fff !important;
}

.kraft-carousel .owl-nav {
  bottom: 0;
  top: auto;
  transform: none;
  width: auto;
  right: 0;
}
.kraft-carousel .owl-nav .owl-prev,
.kraft-carousel .owl-nav .owl-next {
  background: #fff;
  color: #111;
}

.page-id-1193 #main-wrapper .vc_container:nth-child(2) {
  height: 0;
}
.page-id-1193 .section-title.center {
  top: -110px;
}

/* Sub Pages */
/* Header Home */
#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.home #logo {
  display: none !important;
}

.home #menu-main-menu {
  text-align: center;
}

#logo {
  position: absolute;
  top: -30px;
}
@media (min-width: 768px) {
  #logo {
    top: -10px;
  }
}

/* Menu Mobile */
#menu-trigger {
  top: 40% !important;
  z-index: 100;
}

#menu-trigger span,
#menu-trigger span:before,
#menu-trigger span:after {
  background-color: #fff !important;
}

#menu-trigger.open span {
  background-color: transparent !important;
}

#header.standard {
  border-bottom: none;
}

/* Flyout */
@media (max-width: 768px) {
  #main-menu.display-menu {
    height: 100vh !important;
    top: -60px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #menu-main-menu {
    width: 80%;
  }
  #menu-main-menu li {
    border: none !important;
  }

  #header.standard .header-wrapper #main-menu > ul > li > a {
    text-align: center !important;
    font-size: 20px !important;
  }
}
/* Footer */
#footer.standard {
  background-color: #111;
  padding: 60px 0 70px !important;
  position: relative;
  margin-top: 40px !important;
}

.footer-block {
  width: 100%;
}
@media (min-width: 768px) {
  .footer-block {
    border-right: thin solid rgba(255, 255, 255, 0.1);
  }
  .footer-block:nth-child(2), .footer-block:nth-child(3) {
    padding-left: 30px;
  }
  .footer-block:last-child {
    border-right: none;
  }
}

/* Footer Bottom */
.footer-socials {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .footer-socials {
    text-align: left !important;
  }
}
.footer-socials a:first-child {
  margin-left: 0 !important;
}
